# based on:
# https://github.com/broadinstitute/Drop-seq/new/master?filename=.github%2Fworkflows%2Fdocker-publish.yml&workflow_template=ci%2Fdocker-publish
name: DropSeq R Docker

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  push:
    branches: [ "master" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "master" ]
    paths:
      - '.github/workflows/docker-drop-seq_reusable.yaml'
      - '.github/workflows/docker-drop-seq_r.yaml'
      - 'src/R/**'
      - 'src/docker/R/**'
  workflow_dispatch:

jobs:
  docker-drop-seq_r:
    uses: ./.github/workflows/docker-drop-seq_reusable.yaml
    with:
      registry: quay.io
      image_name: broadinstitute/drop-seq_r
      dockerfile: src/docker/R/Dockerfile
    secrets: inherit
    permissions:
      contents: read
